.jumbotron {
  background: #000;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: orange;
    border-color: orange; }
    .jumbotron .btn-primary:hover {
      background: #555;
      border-color: #555; }
  .jumbotron p {
    color: #e1e1e1;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #000;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: auto;
    border: 8px solid orange; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
