.jumbotron {
  background: #393c47;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: orange;
    border-color: orange; }
    .jumbotron .btn-primary:hover {
      background: #555;
      border-color: #555; }
  .jumbotron p {
    color: #e1e1e1;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -40px; padding-bottm: 40px; }

    .jumbotron .lang-logo {
      color: #c29c02;
      font-size: 90px;
      margin: auto;
      line-height: 0;
    }
    /*
  .jumbotron .lang-logo {
    display: block;
    position: relative;
    left: -15px;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 0 30px 60px;
    border-color: transparent transparent transparent #c29c02; }
    .jumbotron .lang-logo:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      margin: -30px 0px 0px -20px;
      border-style: solid;
      border-width: 30px 0 30px 60px;
      border-color: transparent transparent transparent #c29c02; }
*/
