<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo"><span class="glyphicon glyphicon-fast-forward"></span></a>
    <h1>FForward</h1>
    <p>Test of Node.js/Express app <a href="https://fforward.herokuapp.com/">automatically deployed on Heroku</a> on Github commit.</p>
    <a type="button" class="btn btn-lg btn-default" href="."><span class="glyphicon glyphicon-signal"></span> Check connection</a>
    &nbsp;&nbsp;<a type="button" class="btn btn-lg btn-primary" href="."><span class="glyphicon glyphicon-time"></span> Run diagnostics</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-info-sign"></span> Info</h2>
    </div>
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-link"></span> Features</h2>
    </div>
  </div> <!-- row -->
  <hr>
   <div class="alert alert-info" role="alert">
     Nothing works yet..
  </div>
</div>


</body>
</html>
